body {
    background-color: #121213;
    color: #d7dadc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    overflow: hidden;
}

#box {
    border: 5px solid #538d4e;
    z-index: 2;
    width: 28.56%;
    height: 77px;
    margin-left: 35.35%;
    margin-top: 22.8%;
    position: absolute;
}

.mini-box {
    border: 2px solid #3a3a3c;
    background-color: #121213;
    height: 75px;
    margin-top: 0;
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--tile-text-color);
    text-transform: uppercase;
    user-select: none;
}

#column1 {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: move;
    margin-left: 35.7%;
    width: 4.5%;
    font-size: 40px;
  }

  #column2 {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: move;
    margin-left: 41.7%;
    width: 4.5%;
    font-size: 40px;
  }

  #column3 {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: move;
    margin-left: 47.7%;
    width: 4.5%;
    font-size: 40px;
  }

  #column4 {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: move;
    margin-left: 53.7%;
    width: 4.5%;
    font-size: 40px;
  }

  #column5 {
    position: absolute;
    z-index: 1;
    text-align: center;
    cursor: move;
    margin-left: 59.7%;
    width: 4.5%;
    font-size: 40px;
  }